VITE_SUPABASE_URL=https://mbkjwtbubkfqlhllhddh.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1ia2p3dGJ1YmtmcWxobGxoZGRoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU1MDE3MzEsImV4cCI6MjA5MTA3NzczMX0.reh3L-4U6a9dyJKIzBHJ7pqGAPktNOcr4av_MDfFE94
